div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 120px;
    margin-top: 30px;
}

h2 {
    color: #fff;
    margin-top: 150px;
    font-size: 100px;
}