form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button.find {
    border: none;
    background-color: #0fc960;
    color: #fff;
    border-radius: 12px;
    margin-top: 80px;
    width: 300px;
    height: 100px;
    font-size: 35px;
    font-weight: bold;
    transition: all 0.15s;
}

input {
    outline: none;
    width: 600px;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;
    font-size: 50px;
    padding: 0 20px 0 20px;
}

button.next {
    border: none;
    margin-top: 30px;
    background-color: #6816ff;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    border-radius: 12px;
    width: 300px;
    height: 100px;
    transition: all 0.15s;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

p {
    color: #c92e2e;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    height: 45.6px;
}