<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a bit of bytes</title>
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/binary.css">
</head>
<body>
    <div>
        <h1>It's only the beggining...</h1>

        <div class="bg">
            <div class="btn">
                <button class="zero"></button>
                <button class="one"></button>
                <button class="one"></button>
                <button class="zero"></button>
                <button class="one"></button>
                <button class="zero"></button>
                <button class="zero"></button>
                <button class="one"></button>
            </div>
    
            <div class="btn">
                <button class="zero"></button>
                <button class="one"></button>
                <button class="one"></button>
                <button class="zero"></button>
                <button class="one"></button>
                <button class="one"></button>
                <button class="one"></button>
                <button class="zero"></button>           
            </div>
    
            <div class="btn">
                <button class="zero"></button>
                <button class="one"></button>
                <button class="one"></button>
                <button class="one"></button>
                <button class="zero"></button>
                <button class="zero"></button>
                <button class="one"></button>
                <button class="zero"></button>           
            </div>
        </div>
    </div>
</body>
</html>