<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Underflow.Chad</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div>
        <h1>Welcome to Underflow.Chad</h1>
        <h2>This is an online enigma that you will have to solve in order to find a key which you will then have to provide to win.</h2>
        <h2>The first people to uncover the mystery will receive the following rewards:</h2>
        <ul>
            <li>1st: <br> moderator role on the discord server</li>
            <li>2nd and 3rd: <br> special "enigma winner" role (no extra permissions are granted with this role)</li>
        </ul>
        <button class="start" onclick="window.location.href = '/not_actually_here_:)'">start</button>
    </div>

    <button class="real" onclick="window.location.href = '/bin'"></button>
</body>
</html>