<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Last step!</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/password.css">
</head>
<body>
    <div>
        <button class="find" onclick="window.location.href = '/1plus3times4'">find password</button>
        <form id="next">
            <input type="text" placeholder="enter password" id="pswrd" required autocomplete="off">
            <button type="submit" class="next">next</button>
            <p id="error"></p>
        </form>
    </div>
</body>
<script src="/static/script/password.js"></script>
</html>